<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devlog.admin.mapper.ContentMapper">

    <select id="selectContentList" parameterType="content.ContentSearchVo" resultType="content.ContentVo">

    </select>

    <select id="selectContentByCtntNo" parameterType="Integer" resultType="content.ContentVo">

    </select>

    <insert id="insertContentMaster">

    </insert>

    <insert id="insertContentDetail">

    </insert>

    <insert id="insertContentTags">

    </insert>
    <update id="updateContentMaster">

    </update>

    <update id="updateContentDetail">

    </update>

    <delete id="deleteContentMaster" parameterType="Long">
        DELETE FROM content_mst
        WHERE CTNT_NO = #{ctntNp}
    </delete>

    <delete id="deleteContentDetail" parameterType="Long">
        DELETE FROM content_dtl
        WHERE CTNT_NO = #{ctntNp}
    </delete>

</mapper>