<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devlog.admin.mapper.TagsMapper">

    <select id="selectTagsList" resultType="tags.TagsVo">
        SELECT tm.TAG_NO , tm.TAG_NAME, COUNT(ct.CTNT_NO) AS TAG_CNT
        FROM tags_mst tm
        INNER JOIN contents_tags ct ON tm.TAG_NO = ct.TAG_NO
        GROUP BY tm.TAG_NO
    </select>

    <delete id="deleteContentTags" parameterType="Long">
        DELETE FROM contents_tags
        WHERE CTNT_NO = #{ctntNo}
    </delete>

</mapper>