<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devlog.admin.mapper.TagsMapper">

    <delete id="deleteContentTags" parameterType="Long">
        DELETE FROM contents_tags
        WHERE CTNT_NO = #{ctntNo}
    </delete>

</mapper>