
spring:
  profiles:
    group:
      "local": "local, common"
      "dev": "dev, common"
      "prod": "prd, common"

---

spring:
  config:
    activate:
      on-profile: "common"
  mvc:
    pathmatch:
      matching-strategy: path_pattern_parser
  jpa:
    open-in-view: false
    properties:
      hibernate.default_batch_fetch_size: 1000

# local, dev, prod 공통 설정
server:
  port: 8086
  servlet:
    context-path: '/front'
    session:
      timeout: 30m
      cookie:
        http-only: true
        secure: false # local 개발 환경이므로 false, 운영 환경에서는 true 권장
        name: ZTLOG_SESSION_ID

springdoc:
  packages-to-scan: com.devlog.api.controller
  default-consumes-media-type: application/json;charset=UTF-8
  default-produces-media-type: application/json;charset=UTF-8
  swagger-ui:
    path: /
    disable-swagger-default-url: true
    display-request-duration: true
    operations-sorter: alpha

mybatis:
  configuration:
    map-underscore-to-camel-case: true
    default-fetch-size: 100
    default-statement-timeout: 30
  mapper-locations: classpath:mybatis/mapper/**/**.xml
  type-aliases-package: com.devlog.admin.vo


---

spring:
  config:
    activate:
      on-profile: local
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ztlog?useSSL=false&zeroDateTimeBehavior=convertToNull&autoReconnect=true&useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: root
    password: Cy07351258!
  mvc:
    async:
      request-timeout: 2000
  thymeleaf:
    cache: false
  jpa:
    database: mysql
    generate-ddl: false
    #    show-sql: true


---

spring:
  config:
    activate:
      on-profile: dev
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ztlog?useSSL=false&zeroDateTimeBehavior=convertToNull&autoReconnect=true&useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: root
    password: Cy07351258!
  mvc:
    async:
      request-timeout: 2000
  thymeleaf:
    cache: false
  jpa:
    database: mysql
    generate-ddl: false
    #    show-sql: true


---
spring:
  config:
    activate:
      on-profile: prd
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://3.35.22.96:3306/ztlog?useSSL=false&zeroDateTimeBehavior=convertToNull&autoReconnect=true&useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: zoetrope
    password: Ztlog1234!@#$
  mvc:
    async:
      request-timeout: 2000
  thymeleaf:
    cache: false
  jpa:
    database: mysql
    generate-ddl: false
    #    show-sql: true