
spring:
  profiles:
    group:
      "local": "local, common"
      "dev": "dev, common"
      "prod": "prd, common"

---

spring:
  config:
    activate:
      on-profile: "common"
  jpa:
    open-in-view: false
    properties:
      hibernate.default_batch_fetch_size: 1000

# local, dev, prod 공통 설정
jwt:
  secret: thisIsASecretKeyUsedForJwtTokenGenerationAndItIsLongEnoughToMeetTheRequirementOf256Bits
  access-token-expire-time: 600000 # 10분
  refresh-token-expire-time: 15552000000 # 180일

server:
  port: 8086
  servlet:
    context-path: '/front'

---

spring:
  config:
    activate:
      on-profile: local
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ztlog?useSSL=false&zeroDateTimeBehavior=convertToNull&autoReconnect=true&useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: root
    password: Cy07351258!
  mvc:
    async:
      request-timeout: 2000
  thymeleaf:
    cache: false
  jpa:
    database: mysql
    generate-ddl: false
    #    show-sql: true


---

spring:
  config:
    activate:
      on-profile: dev
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://172.17.0.1:3306/ztlog_dev?useSSL=false&zeroDateTimeBehavior=convertToNull&autoReconnect=true&useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: root
    password: Cy07351258!
  mvc:
    async:
      request-timeout: 2000
  thymeleaf:
    cache: false
  jpa:
    database: mysql
    generate-ddl: false
    #    show-sql: true


---
spring:
  config:
    activate:
      on-profile: prd
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://172.17.0.1:3306/ztlog_prd?useSSL=false&zeroDateTimeBehavior=convertToNull&autoReconnect=true&useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: zoetrope
    password: Ztlog1234!@#$
  mvc:
    async:
      request-timeout: 2000
  thymeleaf:
    cache: false
  jpa:
    database: mysql
    generate-ddl: false
    #    show-sql: true