<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devlog.admin.mapper.content.ContentStatisticsMapper">
    <select id="selectContentList" resultMap="ContentListMap">
        select
            cm.CTNT_NO,
            cm.CTNT_TITLE,
            cm.CTNT_SUBTITLE,
            cm.INP_USER,
            cm.DELETED_YN,
            tm.TAG_NO,
            tm.TAG_NAME,
            cm.INP_DTTM,
            cm.UPD_DTTM
        from contents_mst cm
                 left join contents_tags ct on cm.CTNT_NO = ct.CTNT_NO
                 left join tags_mst tm on ct.TAG_NO = tm.TAG_NO
        where 1=1
        order by cm.CTNT_NO desc, tm.TAG_NO
    </select>

    <select id="selectContent" resultMap="ContentMap">
        select
            cm.CTNT_NO,
            cm.CTNT_TITLE,
            cm.CTNT_SUBTITLE,
            cd.CTNT_BODY,
            cm.INP_USER,
            cm.DELETED_YN,
            tm.TAG_NO,
            tm.TAG_NAME,
            cm.INP_DTTM,
            cm.UPD_DTTM
        from contents_mst cm
                 inner join contents_dtl cd on cm.CTNT_NO = cd.CTNT_NO
                 left join contents_tags ct on cm.CTNT_NO = ct.CTNT_NO
                 left join tags_mst tm on ct.TAG_NO = tm.TAG_NO
        where cm.CTNT_NO = #{ctntNp}
        order by cm.CTNT_NO desc, tm.TAG_NO
    </select>

    <select id="selectSearchContentList" resultMap="ContentListMap">
        select
            cm.CTNT_NO,
            cm.CTNT_TITLE,
            cm.CTNT_SUBTITLE,
            cm.INP_USER,
            cm.DELETED_YN,
            tm.TAG_NO,
            tm.TAG_NAME,
            cm.INP_DTTM,
            cm.UPD_DTTM
        from contents_mst cm
                 <if test="type.name() == 'CONTENT' or type.name() == 'TITLE_CONTENT'">
                     inner join contents_dtl cd on cm.CTNT_NO = cd.CTNT_NO
                 </if>
                 left join contents_tags ct on cm.CTNT_NO = ct.CTNT_NO
                 left join tags_mst tm on ct.TAG_NO = tm.TAG_NO
        where 1=1
        <choose>
            <when test="type.name() == 'TITLE'">
                and cm.CTNT_TITLE like concat('%', #{param}, '%')
            </when>
            <when test="type.name() == 'CONTENT'">
                and cd.CTNT_BODY like concat('%', #{param}, '%')
            </when>
            <when test="type.name() == 'TITLE_CONTENT'">
                and (cm.CTNT_TITLE like concat('%', #{param}, '%')
                    or cd.CTNT_BODY like concat('%', #{param}, '%'))
            </when>
            <when test="type.name() == 'TAG'">
                and tm.TAG_NAME like concat('%', #{param}, '%')
            </when>
        </choose>
        order by cm.CTNT_NO desc, tm.TAG_NO
    </select>

    <resultMap id="ContentListMap" type="ContentResDto">
        <result column="CTNT_NO" property="ctntNo"/>
        <result column="CTNT_TITLE" property="title"/>
        <result column="CTNT_SUBTITLE" property="subTitle"/>
        <result column="INP_USER" property="inpUser"/>
        <result column="DELETED_YN" property="deletedYn"/>
        <result column="INP_DTTM" property="inpDttm"/>
        <result column="UPD_DTTM" property="updDttm"/>

        <collection property="tags" ofType="TagInfoReqDto">
            <result column="TAG_NO" property="tagNo" />
            <result column="TAG_NAME" property="tagName" />
        </collection>
    </resultMap>

    <resultMap id="ContentMap" type="ContentResDto">
        <result column="CTNT_NO" property="ctntNo"/>
        <result column="CTNT_TITLE" property="title"/>
        <result column="CTNT_SUBTITLE" property="subTitle"/>
        <result column="CTNT_BODY" property="body"/>
        <result column="INP_USER" property="inpUser"/>
        <result column="DELETED_YN" property="deletedYn"/>
        <result column="INP_DTTM" property="inpDttm"/>
        <result column="UPD_DTTM" property="updDttm"/>

        <collection property="tags" ofType="TagInfoReqDto">
            <result column="TAG_NO" property="tagNo" />
            <result column="TAG_NAME" property="tagName" />
        </collection>
    </resultMap>
</mapper>