<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devlog.admin.mapper.stats.MainStatsMapper">
    <select id="selectMainStatistics" resultType="MainStatsReqsDto">
        SELECT
            (SELECT COUNT(*) FROM contents_mst WHERE DELETED_YN = 'N' OR DELETED_YN IS NULL) AS totalPostCount,
            (SELECT COUNT(*) FROM tags_mst)                                                    AS totalTagCount,
            (SELECT COALESCE(SUM(VIEW_CNT), 0) FROM contents_view_stats)                      AS totalViewCount,
            (SELECT COALESCE(SUM(CMMT_CNT), 0) FROM contents_cmmt_stats)                      AS totalCommentCount
    </select>

</mapper>