name: ZTLog API Web Server Deploy to EC2

on:
  push:
    branches: [ "develop", "main" ]
    paths:
      - 'ztlog-api/**'
      - 'ztlog-core/**'
      - '.github/workflows/deploy-api.yml'  # workflow 파일 변경시도 배포

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build API Module
        run: chmod +x gradlew && ./gradlew :ztlog-api:build -x test

      - name: Copy JAR to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "ztlog-api/build/libs/ztlog-api-0.0.1-SNAPSHOT.jar"
          target: "/home/ec2-user/apps/api"
          strip_components: 3

      - name: SSH Restart API
        uses: appleboy/ssh-action@master
        env:
          AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_KEY: ${{ secrets.AWS_SECRET_KEY }}
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          envs: GITHUB_REF, AWS_ACCESS_KEY, AWS_SECRET_KEY, AWS_S3_BUCKET
          script: |
            set +e  # 에러 발생해도 스크립트 계속 실행

            if [[ "$GITHUB_REF" == "refs/heads/main" ]]; then
              ENV="prd"
              API_PORT=8088
            else
              ENV="dev"
              API_PORT=9088
            fi

            NOW=$(date +%Y%m%d_%H%M%S)

            # 기존 프로세스 종료 (다중 PID 대응)
            pkill -15 -f ztlog-api; sleep 5
            pkill -9 -f ztlog-api; true

            # 로그 디렉토리 생성
            # mkdir -p /home/ec2-user/apps/api/log

            # 새 프로세스 실행
              nohup java -Xmx256M -Xms256M \
              -Dspring.profiles.active=$ENV \
              -Dserver.port=$API_PORT \
              -jar /home/ec2-user/apps/api/ztlog-api-0.0.1-SNAPSHOT.jar \
              >> /home/ec2-user/apps/api/log/api_${NOW}.log 2>&1 </dev/null &

            disown $!

            echo "배포 스크립트 실행 완료 (PID: $!)"
            exit 0