name: ZTLog Admin Web Server Deploy to EC2

on:
  push:
    branches: [ "dev", "main" ]
    paths:
      - 'ztlog-admin/**'
      - 'ztlog-core/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build ADMIN Module
        run: chmod +x gradlew && ./gradlew :ztlog-admin:build -x test

      - name: Copy JAR to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "ztlog-admin/build/libs/ztlog-admin-0.0.1-SNAPSHOT.jar"
          target: "/home/ec2-user/apps/admin"
          strip_components: 3

      - name: SSH Restart ADMIN
        uses: appleboy/ssh-action@master
        env:
          AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_KEY: ${{ secrets.AWS_SECRET_KEY }}
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          envs: GITHUB_REF, AWS_ACCESS_KEY, AWS_SECRET_KEY, AWS_S3_BUCKET
          script: |
            if [[ "$GITHUB_REF" == "refs/heads/main" ]]; then 
              ENV="prd";
              ADM_PORT=8089; 
            else 
              ENV="dev"; 
              ADM_PORT=9089; 
            fi
            
            # 기존 프로세스 종료
            PID=$(pgrep -f ztlog-api)
            if [ -n "$PID" ]; then
              echo "기존 프로세스($PID) 종료 중..."
              kill -15 $PID || true
              sleep 5
            fi
            
            # 새 프로세스 실행
            nohup java -Xmx256M -Xms256M \
              -Dspring.profiles.active=$ENV \
              -Dserver.port=$API_PORT \
              -jar /home/ec2-user/apps/api/ztlog-api-0.0.1-SNAPSHOT.jar >> /home/ec2-user/apps/api/api_${NOW}.log 2>&1 &
            
            # 4. 강제 성공 처리 (SSH 액션 종료 에러 방지)
            echo "배포 스크립트 실행 완료"
            exit 0
            
